.container {
  width: 80vw;
  height: fit-content;
  background-image: url("./assets/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 0.3rem 0.2rem whitesmoke;
}
